@model IEnumerable<Pokedex.Models.Pokemon>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h1>Pokemon</h1>
<h4>Lista</h4>
<hr />

<p>
    <a class ="btn btn-danger px-5" asp-action="Create"><i class="bi bi-plus-circle"></i>  Adicionar</a>
</p>
<table class="table">
    <thead>
        <tr>
              <th>
                @Html.DisplayNameFor(model => model.Numero)
            </th>
            
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                Tipos
    
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Regiao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Genero)
            </th>
            <th>Ações</th>

        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Numero)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
              @string.Join(" e ", item.Tipos.Select(pt => pt.Tipo.Nome))
            </td>
            <td>
               <td>
                @Html.DisplayFor(modelItem => item.Regiao.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Genero.Nome)
            </td>
            <td>
                
                <a class="text-decoration-none text-warning me-1"asp-action="Edit" asp-route-id="@item.Numero"><i class="bi bi-pencil" title="Alterar"></i></a> 
                <a class="text-decoration-none me-1" asp-action="Details" asp-route-id="@item.Numero"><i class="bi bi-search-heart" title="Detalhes"></i></a> 
               <a class="text-decoration-none text-danger me-1" asp-action="Delete" asp-route-id="@item.Numero"><i class="bi bi-trash3" title="Excluir"></i></a>
            </td>
        </tr>
}
    </tbody>
</table>
